body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
    color:#444444;
    font-family: "Museo300";
}

#sidemenu{
    position:fixed;
    top:0;
    left:0;
    width:250px;
    height:100%;
    border-right:1px solid #ccc;
    float:left;
    z-index: 1000;
}

.level-second{
    display:none;
}

nav ul{
    padding: 0;
}

nav ul li{
    list-style: none;
    width:100%;
    height:50px;
    line-height: 50px;
    padding-left: 10px;
}

nav ul li:hover{
    background: #f3f3f3;

}
a:hover{
    text-decoration: none;
    color:#444444;
}
nav ul li a{
    text-decoration: none;
    color:#444444;
    font-size:16px;
    display: block;
}

nav span{
    float: right;
    padding-right: 10px;
    padding-top: 15px;
    
}



.level-second{
    position: absolute;
    left:250px;
    top:0;
    width:250px;
    height:100%;
    background: #252525;
    color:#B6B4B4;
    z-index: 100;
}

.level-second li:hover{
    background: #191919;
}

.logo-brand{
    height:200px;
    padding-left: 20px;
    padding-top: 20px;
}

.level-second .second-logo:hover{
    background:#252525;
}
.navbar-form {
    width: 250px;
    padding-left: 0;
}

.navbar-form .form-control{
    width:250px;
}

.level-second .second-logo{
    height:270px;
    line-height: 15px;
    padding:20px;
    border-bottom: 1px solid #F15811;
}

.second-logo i{
    text-align: center;
    padding-bottom: 10px;
    color:#F15811;
    margin-top:40px;
}


.main{
    margin-left: 250px;
}

.top-image{
    min-height:400px;
    position: relative;
    padding: 0;
    overflow: hidden;
    color: #fff;
}



.top-image:after{
    content: "";
    display: block;
    width:100%;
    height: 400px;
    position: absolute;
    top:0;
    left:0;
    background: rgba(169,169,169,0.8);
    
}

.top-image video{
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    position: absolute;
    top:0;
    left: 0;
}

.overvideo{
   z-index: 20;
    height:300px;
    margin-top: 100px;
}

.overvideo h1{
    text-align: center;
    text-transform: uppercase;

}

.overvideo h2{
    text-align: center;
    font-size:24px;
    font-style:  italic;
    display: block;
}

.overvideo h2 a{
    padding:5px 10px;
    border:1px solid #F15811;
    border-radius: 4px;
    background: #F15811;
    cursor: pointer;
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    font-size: 23px;
    display: inline-block;
    text-align: center;
    margin-top: 25px;
    font-style: normal;
    -webkit-transition: all 0,1s linear;
-moz-transition: all 0,1s linear;
-ms-transition: all 0,1s linear;
-o-transition: all 0,1s linear;
transition: all 0,1s linear;    
}

.view-a:hover{
    background: rgba(241,88,17,0.3);
    
}

.title{
    color:#F15811;
    margin:20px;
    font-size:34px;
    text-align: center;
}

.whatdo{
    padding-top: 50px;
}

.image{
    text-align: center;
}
.image a{
    text-decoration: none;
    color:#000;
    
}

.image a i{
    display: inline-block;
    padding: 30px
}

.image p{
    font-size: 16px;
}

.subtitle{
    color:#F15811;
    font-size: 20px;
}

.subarticle{
    padding-bottom: 50px;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height:auto;
}

.about-wrapper{
    padding:0;
    overflow: hidden;
  position: relative;
}

.about-wrapper img{
    -moz-filter:grayscale(1);
    -webkit-filter:grayscale(1);
    -o-filter:grayscale(1);
    filter:grayscale(1);
    transition:0.3s;
    -o-transition:0.3s;
    -moz-transition:0.3s;
    -webkit-transition:0.3s;
    
}

.about-wrapper:hover img{
    -moz-filter:grayscale(0);
    -webkit-filter:grayscale(0);
    -o-filter:grayscale(0);
    filter:grayscale(0);
     transform:scale(1.05);
    -o-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
}

#about-bottom{
    background: rgba(243,243,243,0.3);
    position: absolute;
    left:0;
    width: 100%;
    bottom:-220px;
    -webkit-transition: all 0,3s linear;
-moz-transition: all 0,3s linear;
-ms-transition: all 0,3s linear;
-o-transition: all 0,3s linear;
transition: all 0,3s linear;
}

#about-bottom .subtitle{
    text-align: center;
    font-weight: bold;
}

.about-wrapper:hover #about-bottom{
    bottom:0;
}

.sub-about p{
    padding: 5px 10px;
    color:#595654;
    margin-bottom: 0;
}

.sub-about i{
    padding-right:8px;
    float:left; 
}


.sub-about{
    background: rgba(243,243,243,0.8);
}

.sub-about a{
    color:#f15811;
    font-size: 16px;
    text-decoration: none;
    text-align: right;
    padding: 2px 15px 15px;
    display: block;
}

.sub-about a:hover{
    text-decoration: none;
    color:#CD3A10;
}

.carousel-inform{
    margin-top: 70px;
    margin-bottom: 100px;
}

#owl-example .item {
        display: block;
        width: 100%;
        height: 400px;
        padding: 20px 50px;
        overflow: hidden;
     
    }

#owl-example .item  img{
    float:left;
    max-height: 400px;
}

#owl-example .item p{
    font-size: 24px;
}
.owl-pagination{
    display: none;
}

.contact{
    height:auto;
    background: url(../images/map.jpg);
    position: relative;
    padding:40px;
}

.contact:before{
    content: "";
    display: block;
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left:0;
    background: rgba(82,82,82, 0.9);
}



.name input::-moz-placeholder{
   font-family:Arial, FontAwesome;
    color: white;
}

.name textarea::-moz-placeholder{
   font-family:Arial, FontAwesome;
    color:white;
}

.name input{
    height:40px;
    border-radius: 5px;
    background: rgba(82,82,82, 0.8);
}

.name textarea{
    border-radius: 5px;
    background: rgba(82,82,82, 0.8);
}

.name input:focus, .name textarea:focus{
border:1px solid #F7BB97;
 box-shadow: 0 0 10px rgba(238,97,10,0.6);
}

.send{
    background: rgba(241,74,13,0.8);
    color:#fff;
   float: right;
   padding:5px 25px;
}


.send:hover{
    background: rgba(241,74,13,0.5);
    color: #fff;
    border:1px solid #F04202;
}

.contact-about .title{
    margin-top: 0;
}

.contact-about {
    color: #fff;
    font-size: 16px;
}

.social-wrapper{
    background: #423D3D;
    padding: 10px 20px;
}

.social a{
    color:#9F9F9F;
     float: right;
     margin:2px;
}


.fa-circle{
    border:1px solid #F04202;
    border-radius: 50%;
}

.fa-facebook:hover{
    color: #3A5795;
}

.fa-git:hover{
    color:#4078C0;
}

.fa-instagram:hover{
    color: #A97C58;
}

.fa-envelope:hover{
    color:#D33627;
}

.fa-twitter:hover{
    color:#41ABE1;
}

.fa-youtube:hover{
    color: #C10900;
}

.hamburger{
    position: fixed;
    top:0;
    right: 0;
    margin: 20px;
    color:#F05F13;
    display:none;
    
    z-index: 100;
}


.hamburger button{
    background: transparent;
    border:none;
}

.close-sidebar{
    color:#FF0B09;
    display: none;
}

.translate{
    transform: none;
    
}

.menuopen{
    transform: translate3d(250px, 0px, 0px);
    
}

.close-level{
    
   width:100%;
   height:40px;
   background: #C7ADA3;
   display:none;
}

.close-level button{
    width:100%;
   height:40px;
    background: #565656;
    border: none;
    color: #fff;
    font-size: 18px;
}

.close-level button i{
    padding-right: 140px;
    color:#B74A18;
}

.container-fluid{
    max-width: 1300px;
}
@media (max-width: 991px){
    .main{
        margin-left: 0;
        transition:all 580ms ease 0s
    }

   .translate{
        transform: translate3d(-251px, 0px, 0px);
         
    }

    aside{
        -webkit-transition: all 0,3s linear;
    -moz-transition: all 0,3s linear;
    -ms-transition: all 0,3s linear;
    -o-transition: all 0,3s linear;
    transition: all 0,3s linear;
    }
    
    .hamburger{
        display:block;

    }

    
    .level-second {
        display:block;
        left:-250px;
        -webkit-transition: all 0,3s linear;
        -moz-transition: all 0,3s linear;
        -ms-transition: all 0,3s linear;
        -o-transition: all 0,3s linear;
        transition: all 0,3s linear;
    }
    .close-level{
    display:block;
}
   
}

@media (min-width: 992px){
    .first-level:hover .level-second{
    display: block;
}
}